extends layout

block layout-content
  div.View.BookView
    h1.Banner Book Libary
    div.Message
      div.Title
        h3 Here are your Books
      pre.Details=JSON.stringify(listedBooks.content, null, 2)

                
    div.NavButtons
      a(href="/books/add")
        div.NavButton Add

    div.NavButtons
      a(href="/books/delete")
        div.NavButton Delete

    div.NavButtons
      a(href="/")
        div.NavButton Go Back