extends layout

block layout-content
  div.View.GameView
    h1.Banner Delete Book
    div.Message
      div.Title
        h3 Here are your Books
        //- h1 #{listedGames.content}
      pre.Details=JSON.stringify(listedBooks.content, null, 2)
                
                h3 Delete a Game
                    form(id = "form-game-delete", method = "post")
                      input(id = 'id' type='json', placeholder='Enter ID' name='book[id]')
                      button(class='btn btn-primary custom-button' type='submit') Delete


    div.NavButtons
      a(href="/books")
        div.NavButton Go Back