extends layout

block layout-content
  div.View.FilmView
    h1.Banner Film Libary
    div.Message
      div.Title
        h3 Here are your Films
        //- h1 #{listedGames.content}
      pre.Details=JSON.stringify(listedFilms, null, 2)



    div.NavButtons
      a(href="/")
        div.NavButton Add a Film
          
    div.NavButtons
      a(href="/films")
        div.NavButton Remove a Film

    div.NavButtons
      a(href="/")
        div.NavButton Go Back