extends layout

block layout-content
  div.View.FilmView
    h1.Banner Film Libary
    div.Message
      div.Title
        h3 Here are your Films
        //- h1 #{listedGames.content}
      pre.Details=JSON.stringify(listedFilms.content, null, 2)

                
                
    div.NavButtons
      a(href="/films/add")
        div.NavButton Add

    div.NavButtons
      a(href="/films/delete")
        div.NavButton Delete

    div.NavButtons
      a(href="/")
        div.NavButton Go Back