extends layout

block layout-content
  div.View.GameView
    h1.Banner Games Libary
    div.Message
      div.Title
        h3 Here are your Games
        //- h1 #{listedGames.content}
      pre.Details=JSON.stringify(listedGames.content, null, 2)


                
    div.NavButtons
      a(href="/games/add")
        div.NavButton Add

    div.NavButtons
      a(href="/games/delete")
        div.NavButton Delete

    div.NavButtons
      a(href="/")
        div.NavButton Go Back