doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title GAMES
  // JQuery //
  script(src='https://code.jquery.com/jquery-3.4.1.min.js')
  // Bootstrap 4.4.1 //
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')

// My CSS //
link(rel='stylesheet' href='/style2.css')

body

// NavBar //
include navbar


h1 NodeAPI

.about
    h2 GET, PUT, DELETE RESQUESTS 
    h3 Using Node.js, Express and Pug
    p  My first website that is designed to make
    p GET, PUT and DELETE requests to my own API 
