extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner NODE API
    div.Message
      div.Title
        h3 GET, PUT, DELETE RESQUESTS
      span.Details Using Node.js, Express and Pug
      
    div.NavButtons
      a(href="/games")
        div.NavButton GAMES

    div.NavButtons
      a(href="/books")
        div.NavButton BOOKS
          
    div.NavButtons
      a(href="/films")
        div.NavButton FILMS




    