

nav.navbar.navbar-expand-md.navbar-dark.bg-dark
  a.navbar-brand(href='/home') NODEAPI
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Games
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/game') Games Home
          .dropdown-divider
          a.dropdown-item(href='/game/add') Add Games
          .dropdown-divider
          a.dropdown-item(href='/game/delete') Delete Games
          .dropdown-divider
          a.dropdown-item(href='/game/update') Update Games
          
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Books
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/book') Books Home
          .dropdown-divider
          a.dropdown-item(href='/book/add') Add Books
          .dropdown-divider
          a.dropdown-item(href='/book/delete') Delete Books
          .dropdown-divider
          a.dropdown-item(href='/book/update') Update Books

  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Films
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/film') Films Home
          .dropdown-divider
          a.dropdown-item(href='/film/add') Add Films
          .dropdown-divider
          a.dropdown-item(href='/film/delete') Delete Films
          .dropdown-divider
          a.dropdown-item(href='/film/update') Update Films